<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
</head>
<body>
<div id="app">

    <mt-header title="专项资金项目实施部的内部投票会">
        <router-link to="/" slot="left">
            <mt-button icon="back" @click="handleClose">关闭</mt-button>
        </router-link>
        <mt-button icon="more" slot="right" @click="handleMore"></mt-button>
    </mt-header>
    <mt-checklist
            align="right"
            :max="2"
            :options="options"
            title="请选择你喜欢的题目(最多两个)"
            v-model="multitermValue">
    </mt-checklist>
    <p><span>您选择的是：</span>{{multitermValue}}</p>
    <mt-button @click.native="clickSubmit">提交</mt-button>
    <mt-button @click.native="handleClick">提示</mt-button>

</div>
</body>
<!-- 引入 Vue -->

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script>
    var vueapp = new Vue({
        el: '#app',
        data: {
            multitermValue: [],
            options: [
                {
                    label: '《MySQL和Oracle的区别》',
                    value: '叶雯'
                },
                {
                    label: '《前后端分离》',
                    value: '叶星源'
                },
                {
                    label: '《JQuery组件的使用》',
                    value: '莫秀杰'
                },
                {
                    label: '《Redis的应用》',
                    value: '李志敏'
                }
            ]
        },
        methods: {
            handleClick: function () {
                this.$toast('这是项目组里的一次阶段性的试验!')
            },
            clickSubmit: function () {
                this.$toast('提交中!')
                window.location.href="/gettotal?choessname="+this.multitermValue;
           //     router.push({ name: 'user', params: { userId: 123 }})
            },
            handleClose: function () {
                this.$toast('关闭中')
            },
            handleMore: function () {
                this.$toast('更多操作')
            }
        }
    })

</script>
</html>
